<mat-toolbar color="primary">
    <span>MYPOS</span>
    <button mat-icon-button aria-label="Example icon button with a menu icon">
        <mat-icon>search</mat-icon>
    </button>
    <button mat-icon-button aria-label="Example icon button with a menu icon">
        <mat-icon [matBadge]="demoMailNoti" matBadgeColor="accent">mail_outline</mat-icon>
    </button>
    <button mat-icon-button aria-label="Example icon button with a menu icon">
        <mat-icon [matBadge]="demoNoti" matBadgeColor="warn">notifications_none</mat-icon>
    </button>
</mat-toolbar>