<div class="row">
    <div class="col-md-4">
        <mat-card class="d-flex align-items-center">
            <img class="icon mr-3" src="https://image.flaticon.com/icons/svg/869/869045.svg" alt="">
            <div class="d-flex flex-column">
                <div class="h6 mb-0">Stock</div>
                <div class="h6 mb-0">0</div>
            </div>
        </mat-card>
    </div>
    <div class="col-md-4">
        <mat-card class="d-flex align-items-center">
            <img class="icon mr-3" src="https://image.flaticon.com/icons/svg/497/497738.svg" alt="">
            <div class="d-flex flex-column">
                <div class="h6 mb-0">Stock</div>
                <div class="h6 mb-0">0</div>
            </div>
        </mat-card>
    </div>
    <div class="col-md-4">
        <mat-card class="d-flex align-items-center">
            <img class="icon mr-3" src="https://image.flaticon.com/icons/svg/2312/2312986.svg" alt="">
            <div class="d-flex flex-column">
                <div class="h6 mb-0">Stock</div>
                <div class="h6 mb-0">0</div>
            </div>
        </mat-card>
    </div>
</div>