<img class="img-fluid bg-logo shadow-sm" src="https://cdn.worldvectorlogo.com/logos/angular-icon.svg"alt="">
<mat-nav-list dense>
    <a mat-list-item href="http://www.google.com">
        <span mat-line><span class="mat-h4">Stock</span></span>
        <img matListAvatar src="https://image.flaticon.com/icons/svg/1198/1198345.svg" alt="">
    </a>
    <a mat-list-item href="http://www.google.com">
        <span mat-line><span class="mat-h4">Shop</span></span>
        <img matListAvatar src="https://image.flaticon.com/icons/svg/599/599299.svg" alt="">
    </a>
    <mat-divider class="mt-4"></mat-divider>
    <h3 matSubheader>DashBoard</h3>
    <a mat-list-item href="http://www.google.com">
        <span mat-line><span class="mat-h4">Summary</span></span>
        <img matListAvatar src="https://image.flaticon.com/icons/svg/386/386895.svg" alt="">
    </a>
    <a mat-list-item href="http://www.google.com">
        <span mat-line><span class="mat-h4">Customer</span></span>
        <img matListAvatar src="https://image.flaticon.com/icons/svg/505/505430.svg" alt="">
    </a>
</mat-nav-list>